parameters:
  - name: armClientId
    type: string
  - name: armClientSecret
    type: string
  - name: armTenantId
    type: string
  - name: armSubscriptionId
    type: string
    default: ''
  - name: workingDirectory
    type: string
    default: 'System.DefaultWorkingDirectory'
  - name: authentication
    type: object

steps:
- bash: |
    az login --service-principal -u $ARM_CLIENT_ID -p $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID
  displayName: 'Azure Login'
  workingDirectory: ${{ parameters.workingDirectory }}
  env:
    ARM_CLIENT_ID:       ${{ parameters.armClientId }}
    ARM_CLIENT_SECRET:   ${{ parameters.armClientSecret }}
    ARM_TENANT_ID:       ${{ parameters.armTenantId }}

- ${{ if parameters.armSubscriptionId }}:
  - bash: |
      az account set -s $ARM_SUBSCRIPTION_ID
      az account show
    displayName: 'Azure Subscription'
    workingDirectory: ${{ parameters.workingDirectory }}
    env:
      ARM_SUBSCRIPTION_ID: ${{ parameters.armSubscriptionId }}